@font-face {
    font-family: 'Glyphicons Halflings';
    src: url(../fonts/glyphicons-halflings-regular.eot);
    src: url(../fonts/glyphicons-halflings-regular.woff2);
    src: url(../fonts/glyphicons-halflings-regular.woff);
}

.area {
    margin-top: 70px;
    padding-left: 50px;
    padding-right: 50px;
}

body {
    position: relative;
}

h1 {
    padding-left: 15px;
}

.h1 {
    padding-left: 0px;
}

textarea {
    height: 100px;
    border: 1px solid #CCC;
}


#searchs {
    width: 100px;
    float: right;
    background-image: url('../imagens/search-engine.png');
    background-repeat: no-repeat;
    background-size: 15px 15px;
    background-position: 5px;
    padding-left: 25px;
    border: 1px solid #CCC;
}


#searchs2 {
    width: 100px;
    float: right;
    background-image: url('../imagens/search-engine.png');
    background-repeat: no-repeat;
    background-size: 15px 15px;
    background-position: 5px;
    padding-left: 25px;
    border: 1px solid #CCC;
}

.searchresults {
    background-color: #FFF;
    position: absolute;
    border: 1px solid #CCC;
    width: 90.4%;
    z-index: 3;
}

.si {
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
    cursor: pointer;

}

.si a {
    color: #000;
    text-decoration: none;
    display: block;

}

.si:hover {
    background-color: #EEE;
}

.autocomplete {
    background-image: url('../imagens/search.png');
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: right;
    padding-left: 25px;
    border: 1px solid #CCC;
    z-index: 3;
}

.relatorio_item {
    width: 180px;
    height: 180px;
    background-color: #000;
    float: left;
    margin: 20px;
    padding: 20px;
    margin-left: -4px;
    text-align: center;
    font-size: 17px;
}

.relatorio_item a {
    display: block;
    color: #FFF;
    text-decoration: none;
}

.relatorio-grid {
    width: 50%;
    height: 150px;
    float: left;
    text-align: center;

}

.relatorio-grid-2 {
    width: 50%;
    height: 150px;
    float: left;
    text-align: center;
    padding-right: 170px;
}

.relatorio-grid input {
    height: 30px;
    width: 45%;
    font-size: 13px;
    outline: 0;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 1px;
    margin-top: 5px;
    border: 1px solid #CCC;
}

.relatorio-grid-4 {
    width: 25%;
    height: 70px;
    float: left;
    text-align: center;
}

.data {
    height: 30px;
    width: 15%;
    font-size: 13px;
    outline: 0;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 1px;
    margin-top: 5px;
    border: 1px solid #CCC;
}

.error {
    font-size: 13px;
    font-family: sans-serif;
    color: #ff0000;
    margin-top: 8px;
}

input.error {
    border: 1px solid #FF0000;
}

#cliente_nome {
    float: left;
    background-image: url('../imagens/search-engine.png');
    background-repeat: no-repeat;
    background-size: 15px 15px;
    background-position: 5px;
    padding-left: 25px;
    border: 1px solid #CCC;
}

#add_prod {
    float: left;
    background-image: url('../imagens/search-engine.png');
    background-repeat: no-repeat;
    background-size: 15px 15px;
    background-position: 5px;
    padding-left: 25px;
    border: 1px solid #CCC;
    margin-bottom: 15px;
}


#pesquisar {
    width: 34px;
    height: 34px;
    background-image: url('../imagens/search-engine.png');
    background-repeat: no-repeat;
    background-size: 28px 28px;
}


#total_venda {
    width: 150px;
    float: right;
    margin-bottom: 12px;
    margin-left: 82px;

}

.searchvenda {
    background-color: #FFF;
    position: absolute;
    border: 1px solid #CCC;
    width: 90.4%;
    z-index: 3;
}

.searchcompra {
    background-color: #FFF;
    position: absolute;
    border: 1px solid #CCC;
    width: 90.4%;
    z-index: 3;
}


.p_quant {
    width: 70px !important;
}

.foto_item {
    width: 150px;
    height: 200px;
    text-align: center;
    margin-right: 10px;
    float: left;
}

.foto_item img {
    width: 150px;
}

.fileUpload {
    position: relative;
    overflow: hidden;
    width: 65%;
}

.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}


.notificacoes {
    width: 30px;
    height: 25px;
    text-align: center;
    line-height: 30px;
    color: #FFF;
    font-size: 16px;
    margin-top: -2px;
    background-image: url('../imagens/notificacao.png');
    background-repeat: no-repeat;
    background-size: 30px 25px;
    font-size: 9pt;
}

.tem_notif {
    background-color: #FF0000;
    color: #FFF;
}


#fornecedor_razao {
    float: left;
    background-image: url('../imagens/search-engine.png');
    background-repeat: no-repeat;
    background-size: 15px 15px;
    background-position: 5px;
    padding-left: 25px;
    border: 1px solid #CCC;
}

#total_compra {
    width: 150px;
    float: right;
    margin-bottom: 12px;
    margin-right: 0px;

}

#add_prod_compra {
    float: left;
    background-image: url('../imagens/search-engine.png');
    background-repeat: no-repeat;
    background-size: 15px 15px;
    background-position: 5px;
    padding-left: 25px;
    border: 1px solid #CCC;
    margin-bottom: 15px;
}

#historico {
    background-color: #FF00FF;
    color: #FFF;
}


